<div class="container">
  <nav class = "navbar">
    <h1 class = "random"><a routerLink="/">My awesome cat app</a></h1>
    <h1 class = "gc"><a routerLink="good">Good cats</a></h1>
    <h1 class = "bc"> <a routerLink="bad"> Bad cats </a></h1>
  </nav>
  <hr>
  <div class = "content">
    <router-outlet>
    </router-outlet>
  </div>
<!--  <app-cat-list  [badCats]="badCats" [goodCats]="goodCats"  (newBadCat)="badCat($event)"  (newGoodCat)="goodCat($event)"  (isCatBad)="isCatBad($event)"></app-cat-list>-->
</div>
